@font-face {
    font-family: "Spartan";
    src: url("./Spartan.woff") format("woff")
}

@font-face {
    font-family: "Spartan";
    font-weight: bold;
    src: url("./SpartanBold.woff") format("woff")
}

* {
    box-sizing: border-box;
}

html {
    color: #2A293E;
    background: #F8F4E5;
    font-family: Spartan, sans-serif;
    line-height: 1.5;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

[data-output]:empty {
    display: none;
}

.c-topbar {
    padding: 10px 0;
    background: #F45702;
}

.c-topbar__title {
    margin: 0;

    color: white;
    font: inherit;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.c-topbar__title > a {
    display: block;
    color: inherit;
    font: inherit;
    text-decoration: none;
}

.c-menu {
    padding: 10px 0;
    background: #D8AE5C;
}

.c-menu__title {
    display: block;
    margin: 0;

    color: inherit;
    font: inherit;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.c-menu__title > a {
    display: block;
    color: inherit;
    font: inherit;
    text-decoration: none;
}

.c-menu__title > a::after {
    content: ' \25BC';
    display: inline;
}

.c-input {
    display: block;
    margin-bottom: 24px;

    font-size: 12pt;
    line-height: 24pt;
}

.c-input__label {
    display: block;
}

.c-input__input {
    display: block;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    background: transparent;
    padding: 0 5px;

    transition: 0.2s border-color ease-in-out;

    font: inherit;
    outline: none;
}

.c-input__input:focus,
.c-input__input:focus {
    border: 1px solid #652401;
}

.c-input__input::placeholder {
    color: rgba(42, 41, 62, 0.5);
}

textarea.c-input__input {
    resize: vertical;
}

.c-action {
    text-align: center;
}

.c-button {
    padding: 7px 20px 5px;
    border: none;
    border-radius: 2px;
    background: #f45702;

    color: white;
    font: inherit;

    transition: 0.2s background-color ease-in-out;
    border-bottom: 2px solid #f45702;

    cursor: pointer;
    outline: none;
}

.c-button:hover,
.c-button:focus {
    background: #652401;
}

.o-container {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
}

.o-section {
    padding: 20px 0;
}

.c-footer {
    margin-top: auto;
    padding: 20px 0;
    background: #F2ECD8;

    text-align: center;
}

.c-footer__sponsor {
    margin-bottom: 20px;
    padding: 10px 40px;
    border: 1px solid #5AAC90;
    border-radius: 20px;
    text-align: left;
}

#map {
    width: 100%;
    height: 300px;
}